.top-bar {
    background-color: #111;
    display: block;
    font-size: 30px;
    padding: 8px 0;
    box-sizing: border-box;
    line-height: 1;
}

#span-1{
    color: blue;
}

#span-2{
    color: rgb(185, 135, 28);
}

#span-3{
    color: rgb(228, 82, 24);
}


.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    
}

.social-icon {
    font-size: 20px;
}

.social_networks {

    padding-bottom: 0;
}

a {
    padding: 10px;
    color: rgb(250, 250, 250);
}