#sp-header {
    padding: 10px;
    height: initial;
    display: block;
}

.container {
    width: 100%;
}
h1 {
    margin: 0;
    pad: 0;
    color: white;
}

.style-tatto {
    color: white;
    font-size: 25px;
}

.item {
    font-size: 30px;
    text-align: center;
}
